@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");

body {
  background-color: #272a2b;
  font-size: 25px;
  font-family: "Source Code Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

p {
  margin-top: 41px;
  margin-left: 24px;
  color: rgb(0, 255, 128);
  font-feature-settings: "clig" off, "liga" off;
}

li p {
  position: absolute;
}

.name {
  margin-top: 240px;
  margin-bottom: 313px;
  margin-left: 15px;
  padding: 0px 2px 0px 2px;
}

.name-6 {
  color: #ff0000;
  text-shadow: 0 0 1px #ff0000, 0 0 1px #ff0000, 0 0 6px #ff0000;
  background-color: rgba(0, 0, 0, 0.329);
}

.card-6 span {
  background-color: #00000062;
}

.name-d {
  color: #d8d8d8;
  background-color: rgba(0, 0, 0, 0.199);
  text-shadow: 0 0 1px #a1a1a1, 0 0 1px #a1a1a1, 0 0 6px #a1a1a1;
}

.name-c {
  color: #fcf1a0;
  background-color: #00000005;
  padding: 2px 5px;
  text-shadow: 0 0 1px #fcf1a0, 0 0 2px #fcf1a0, 0 0 6px #fcf1a0;
}

ul li {
  width: 292px;
  border-radius: 12px;
  margin: 50px 0px 20px 0px;
  background: #fff;
}

.card-1 {
  border: 3px #ff0000 solid;
  box-shadow: 0 0 3px #ff0000, 0 0 6px #ff0000, 0 0 12px #ff0000,
    0 0 24px #ff0000;
}

.card-2 {
  border: 3px #8a8a8a solid;
  box-shadow: 0 0 3px #8a8a8a, 0 0 6px #8a8a8a, 0 0 12px #8a8a8a,
    0 0 24px #8a8a8a;
}

.card-3 {
  border: 3px #fcf1a0 solid;
  box-shadow: 0 0 3px #fcf1a0, 0 0 6px #fcf1a0, 0 0 12px #fcf1a0,
    0 0 24px #fcf1a0;
}

img {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

h5 {
  color: #3c3c43;
  font-size: 18px;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 24px;
  padding-left: 15px;
}

.text {
  color: #666;
  padding-top: 24px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
  padding-bottom: 7px;
}

.footer {
  display: grid;
  place-items: center;
}

.footer a {
  padding: 10px 0px 10px 0px;
}

@media only screen and (max-width: 620px) {
  .footer {
    font-size: 15px;
  }
}
