@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* Общие стили */
body {
    height: 100%;
    margin: 0;
    background-color: #b8b6b6;
    font-family: "roboto";
    display: flex;
    justify-content: center;
    align-items: center;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

img {
    cursor: pointer;
}

/* Интерфейс iPhone */
.iphone {
    width: 90%; 
    max-width: 400px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    -webkit-box-shadow: -8px 7px 20px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -8px 7px 20px 8px rgba(34, 60, 80, 0.2);
    box-shadow: -8px 7px 20px 8px rgba(34, 60, 80, 0.2);
}

/* Строка состояния */
.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0 20px;
    background-color: #F1F1F2;
}

.time {
    font-weight: 500;
    font-size: 1em;
}

/* Заголовок чата */
.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #F1F1F2;
    box-shadow: 0px 0.5px 0px 0px #B2B2B2;
}

.back-button, .call-button {
    display: flex;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    display: inline-block;
    width: 3em; 
    height: 3em; 
    border-radius: 50%;
    margin-bottom: 5px;
}

.contact-name {
    font-weight: 600;
    font-size: 1.2em;
}

/* Сообщения */
.messages {
    padding: 20px;
    height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  

    font-weight: 400;
}

.messages::-webkit-scrollbar { 
    display: none; 
}

.message {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
}

.received {
    justify-content: flex-start;
}

.sent {
    justify-content: flex-end;
}

.message p {
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 18px;
    max-width: 70%;
    white-space: pre-wrap;
    font-size: 1em;

    -webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
}

.sent p {
    background-color: #007aff;
    color: #fff;
}

/* Область ввода */
.input-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: #fff;
    border-top: 1px solid #eee;
}

.app-tray {
    display: flex;
    margin-right: 10px;
    width: 100%;
    justify-content: space-between;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-icons {
    display: flex;
    margin-right: 10px;
}

.input-icons img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.input-area input {
    flex: 1;
    padding: 12px;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-size: 1em;
}

.more-apps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.more-apps img {
    width: 2.5em;
    height: 2.5em;
}

.bottom-area {
    background-color: #D6D7DD;
    padding: 8px 0 25px;
    width: 100%;
}

.flex {
    display: flex;
}

.line {
    justify-content: center;
    align-items: center;
    background-color: #D6D7DD;
    padding-bottom: 10px;
}
